*{
    padding: 0;
    margin: 0;
}

h1{
    color: rgb(7, 7, 7);
}

body{
    background-image: url(./img/puzzled-bearded-young-man-with-confused-expression-points-above-with-both-index-fingers-keeps-gaze-upwards-stands-bothered-wonders-latest-prices-wears-yellow-sweater-transparent-glasses.jpg);
 
 
}

header{
    border-radius: 50px;
    color: beige;
}

img{
    max-width: 100%;
   
    
}
.parrafo1{
    text-align: justify;
    background-color: aliceblue;
    color: black;
   
    width: 100%;
    height: 250px;
}
h2{
    text-align: center;
    color: black;
}

footer{
    background-color: aliceblue;
}



